version: "3.9"

services:
  backend:
    image: python:3.12-slim
    container_name: veridia-backend
    working_dir: /code
    volumes:
      - ./backend:/code
    command: tail -f /dev/null
    ports:
      - "8000:8000"

  frontend:
    image: node:20-alpine
    container_name: veridia-frontend
    working_dir: /app
    volumes:
      - ./frontend:/app
    command: tail -f /dev/null
    ports:
      - "5173:5173"
